* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	color: #f6f6f6;
	scroll-behavior: smooth;
	font-family: HelveticaNowDisplay-Medium;
}
:root {
	--bg: #455ce9;
}
html,
body {
	width: 100%;
	height: 100%;
}
@font-face {
	font-family: HelveticaNowDisplay-Medium;
	src: url(HelveticaNowDisplay-Medium.ttf);
}
.prevent-select {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
#container {
	width: 100%;
	min-height: 100vh;
	/* background-color: #1E1E1E; */
	background-color: #000000e3;
	padding: 40px 50px;
	position: relative;
	overflow-x: hidden;
}

#cursor {
	width: 15px;
	height: 15px;
	border-radius: 50%;
	/* background-color: #CC5200; */
	/* background-color: #ffcb74; */
	background-color: var(--bg);
	position: fixed;
	mix-blend-mode: difference;
	z-index: 8;
	transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.8s;
	pointer-events: none;
	background-size: cover;
}

#nav {
	width: calc(100% - 100px);
	height: 100px;
	z-index: 999;
	margin-bottom: 20px;
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 10px;
	/* mix-blend-mode: difference; */
}
.logo {
	z-index: 2;
	width: 180px;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo p {
	font-size: 1.8rem;
	font-weight: 100;
	line-height: 0.8;
	cursor: pointer;
}
.logo p > span {
	font-size: 0.8rem;
}
.button {
	z-index: 999;
	width: 80px;
	height: 80px;
	background-color: var(--bg);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.burger {
	width: 100%;
	&::after,
	&::before {
		content: "";
		display: block;
		height: 1px;
		width: 40%;
		margin: auto;
		background-color: #fff;
		position: relative;
		transition: transform 0.3s;
	}

	&::after {
		top: -5px;
	}

	&::before {
		top: 5px;
	}
}

.burgerActive {
	width: 100%;
	&::after,
	&::before {
		content: "";
		display: block;
		height: 1px;
		width: 40%;
		margin: auto;
		background-color: #fff;
		position: relative;
		transition: transform 0.3s;
	}
	&::after {
		transform: rotate(45deg);
		top: -1px;
	}

	&::before {
		transform: rotate(-45deg);
		top: 0px;
	}
}

.nav-list {
	position: fixed;
	right: 50px;
	top: 20px;
	width: 480px;
	height: 650px;
	background-color: var(--bg);
	border-radius: 48px;
	padding: 20vh 2vw;
	opacity: 0;
	visibility: hidden;
	transition: visibility 0.1s, opacity 0.5s ease-in;
}
.nav-list.visible {
	visibility: visible;
	opacity: 1;
}
.nav-list p {
	font-size: 3rem;
	line-height: 1.5;
}

/* hero section */
#hero {
	width: inherit;
	height: 100vh;
	border: 0.8px solid #fff;
	border-radius: 48px;
	padding: 30vh 50px;
}

.heading {
	width: 85vw;
	height: 30vh;
	/* background-color: red; */
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.heading h1 {
	font-size: 10rem;
	font-family: HelveticaNowDisplay-Medium;
	line-height: 0.8;
}

.heading h1 span {
	margin-left: 12vw;
}
.top {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 100px;
}
.scroll {
	width: 100px;
	height: 40px;
	border: 1px solid #fff;
	border-radius: 12px;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.down {
	/* padding: 20px 40px; */
	width: 150px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 0.5px solid #fff;
	border-radius: 25px;
}
.bottom {
	width: inherit;
	height: 300px;
	/* background-color: red; */
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.about-text {
	width: 30rem;
}
.about-text p span {
	text-decoration: underline;
}
.resume{
	margin-top: 1vmin;
}
.contain3 {
	font-size: 1rem;
	margin-top: 20px;
	display: flex;
	gap: 1rem;
}
.contact-links {
	line-height: 0.7;
}

/* Projects Section */
#project {
	width: inherit;
	min-height: inherit;
	border: 0.8px solid #fff;
	border-radius: 48px;
	padding: 50px 50px;
	margin-top: 50px;
}
#project h3 {
	font-size: 4rem;
	font-weight: 400;
}
.pro {
	margin-top: 50px;
	width: inherit;
	min-height: inherit;
	/* background-color: red; */
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
.proj {
	width: 600px;
	height: 700px;
	/* background-color: blue; */
	border: 0.8px solid #fff;
	border-radius: 48px;
	padding: 50px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.proTop {
	width: 80%;
	height: 70%;
	/* background-color: red; */
	margin-bottom: 20px;
}
.proTop > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 43px;
}
.proBottom {
	width: 80%;
	height: 30%;
	/* background-color: rgb(73, 46, 46); */
}
.proName {
	font-size: 2rem;
	font-weight: 400;
	/* text-decoration: underline; */
}
.proBottom > div {
	margin-top: 25px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 12px;
}
.tag {
	padding: 4px 7px;
	border: 0.7px solid #fff;
	border-radius: 12px;
}

/* skill section  */
.box {
	/* background-color: red; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	padding: 0 20px;
	border-top: 1.5px solid #dadada;
}

.box:nth-last-child(1) {
	border-bottom: 1.5px solid #dadada;
}

.box h3 {
	font-size: 1.8vw;
	font-weight: 400;
}

.box h4 {
	font-size: 1.3vw;
	font-weight: 400;
}

#skill {
	min-height: 100vh;
	width: 100%;
	/* position: relative; */
	z-index: 9;
	padding: 10vw 60px;
	margin-bottom: 5vw;
	display: flex;
	border-bottom: 2px solid #fff;
}

#skill-left h2 {
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 20px;
}

#skill-left {
	width: 40%;
	height: inherit;
	/* background-color: red;	 */
}
#skill-right {
	width: 60%;
	height: inherit;
	position: relative;
	top: 10vh;
	/* background-color: rebeccapurple; */
}

#skill-left h1 {
	font-size: 4rem;
	font-weight: 400;
	line-height: 1;
}
#skill-left p {
	margin-top: 10px;
	font-size: 1.2rem;
}

.scircle {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	border: 2px solid #fff;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

.scircle::before {
	content: "Skills";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 1.3rem;
	transition: opacity 0.3s ease-in-out;
}

.scircle .sarrow {
	position: absolute;
	color: #fff;
	font-size: 3.5rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-45deg);
	opacity: 0;
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.scircle:hover .sarrow {
	transform: translate(-50%, -50%) rotate(0deg);
	opacity: 1;
}
.scircle:hover::before {
	opacity: 0;
}

/* Contact Section  */
#talk {
	width: inherit;
	min-height: inherit;
	border: 1px solid #fff;
	border-radius: 48px;
	margin-bottom: 25px;
	display: flex;
}

.leftTalk {
	width: 50%;
	height: inherit;
	/* background-color: red; */
	padding: 50px 6px;
	font-weight: 900;
	display: flex;
	align-items: center;
	justify-content: center;
}

.leftTalk p{
	width: 80%;
	text-transform: uppercase;
	font-size: 5rem;
	line-height:.81;
	text-align: center;

}


.rightTalk {
	width: 50%;
	height: inherit;
	padding: 50px 6px;
	font-weight: 900;
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	border: 1px solid #fff;
	border-radius: 48px;
}
.rightTalk p{
	width: 80%;
}
.rightTalk .letsTalk{
	font-size: 3rem;
	text-transform: capitalize;
}

.smalltxt{
	font-weight: 400;
}
/* footer sefction */

#footer {
	width: inherit;
	display: flex;
	justify-content: space-between;
}
#footer p {
	font-size: 1.1rem;
}

/* media Queries */

@media screen and (max-width: 1200px) {
	#container {
		padding: 14px 14px;
	}
	#nav {
		width: calc(100% - 28px);
	}
	.top {
		flex-direction: column;
		align-items: flex-start;
	}
	.heading h1 {
		font-size: 8rem;
	}
	.down {
		margin-left: 50vw;
	}
	.bottom {
		flex-direction: column-reverse;
		align-items: flex-start;
		justify-content: flex-end;
		gap: 20px;
	}
	#project {
		padding: 12px 5px;
	}
	#project > h3 {
		font-size: 3.8rem;
	}
	.pro {
		grid-template-columns: 1fr;
	}
	.proj {
		width: inherit;
		padding: 50px 5px;
		border-radius: 43px;
	}
	#skill {
		padding: 24px 10px;
		flex-direction: column;
		min-height: inherit;
	}
	.scircle {
		display: none;
	}
	.box {
		width: 90vw;
	}
	#project > h3 {
		font-size: 2rem;
		padding-left: 12px;
	}
	#skill-left h2 {
		font-size: 1.8rem;
	}
	#skill-left h1 {
		font-size: 3.5rem;
	}
	.box h3 {
		font-size: 1.8rem;
	}
	.box h4 {
		font-size: 1.5rem;
	}
}
@media screen and (max-width: 800px) {
	#cursor {
		display: none;
	}
	#container {
		padding: 7px 7px;
	}
	#nav {
		width: calc(100% - 14px);
	}
	.logo {
		justify-content: flex-start;
	}
	.button {
		width: 70px;
		height: 70px;
	}
	.nav-list {
		right: 14px;
		width: 80vw;
		height: 90vh;
		border-radius: 25px;
	}
	#hero {
		border-radius: 25px;
		padding: 20vh 12px;
	}
	.heading h1 {
		font-size: 3.8rem;
		line-height: 0.8;
	}
	.about-text p {
		width: 70vw;
	}
	#project > h3 {
		font-size: 1.8rem;
		padding-left: 12px;
	}
	#skill {
		min-height: inherit;
	}
	#skill-left h2 {
		font-size: 1.4rem;
	}
	#skill-left h1 {
		font-size: 2.8rem;
	}
	.box h3 {
		font-size: 1.2rem;
	}
	.box h4 {
		font-size: 1rem;
	}
	#skill {
		padding-bottom: 10vh;
		margin-bottom: 5vh;
	}
	#talk{
		flex-direction: column;
	}
	.leftTalk{
		width: 100%;
	}
	.leftTalk p{
		width: 100%;
		font-size: 4rem;
	}
	.rightTalk{
		width: 100%;
	}
	.rightTalk p{
		width: 100%;
	}
	#footer {
		padding-left: 12px;
	}
	#footer > p {
		font-size: 0.8rem;
	}
	.none {
		display: none;
	}
}
